/*------------------------------------*\
    ::Extends
    ----------------------------------*
    ::Buttons
    ::Icon Interaction
\*------------------------------------*/

/*------------------------------------*\
    ::Buttons
\*------------------------------------*/
%btn {
    @extend %icon;
    border: 0;
    background-color: transparent;
    border-radius: .2em;
    padding: .2em .5em;
    &:focus {
        @extend %icon--over;
        outline: none;
    }
}

/*------------------------------------*\
    ::Icon Interaction
\*------------------------------------*/
%icon--up {
    transition: 300ms;
    border: $timeline-border-width solid $color-2;
    color: $color-2;
    svg {
        fill: currentcolor;
    }
}
%icon--over {
    color: $color-1-light;
    border-color: lighten($color-1,3%);
}
%icon--active {
    border-color: $color-1-light;
}
%icon {
    @extend %icon--up;
    &:hover {
        @extend %icon--over;
    }
    &:active {
        @extend %icon--active;
    }
}