/*------------------------------------*\
    ::Variables
    ----------------------------------*
    ::Colors
    ::Breakpoints
    ::Layout
    ::Text Styling
\*------------------------------------*/

/*------------------------------------*\
    ::Colors
\*------------------------------------*/

//primary colors / page anchor tags
$color-1:           #04d2b1; // e.g. light signature
$color-1-light:     #19ffda; // e.g. headings
$color-1-dark:      #00caa9; // e.g. background

//secondary colors / global nav and Local Nav.
$color-2:           #284e64;
$color-2-light:     lighten($color-2,20%);
$color-2-lightest:  #fff;
$color-2-dark:      darken($color-2,5%);

//tertiary colors / secondary global nav and secondary local nav.
$color-3:           #F79021;
$color-3-light:     lighten($color-3,20%);
$color-3-dark:      darken($color-3,20%);

//alert colors
$color-good:        #6ADE72;
$color-bad:         #DE5D5D;
$color-meh:         #EBE857;

//global colors
$color-bg--dark:    $color-1-dark;
$color-bg--light:   $color-2-lightest;

/*------------------------------------*\
    ::Breakpoints
\*------------------------------------*/
$phone--min: 320px;
$phone--max: 600px;
$phone--mid: round($phone--min + ($phone--max - $phone--min)/2);

$tab--min: $phone--max + 1;
$tab--max: 960px;
$tab--mid: round($tab--min + ($tab--max - $tab--min)/2);

$desk--min: $tab--max + 1;
$desk--max: $row-width;
$desk--mid: round($desk--min + ($desk--max - $desk--min)/2);

/*------------------------------------*\
    ::Layout
\*------------------------------------*/
$pad:           0.9375rem;
$gap:           $pad;
$gap--big:      $gap*2;
$gap--baby:     $gap*1.5;

$pad-em:         0.9375em;
$gap-em:         $pad-em;
$gap-em--big:    $gap-em*2;
$gap-em--baby:   $gap-em*1.5;

/*------------------------------------*\
    ::Text Styling
\*------------------------------------*/

//font colors
$txt-color-1:       $color-1-dark;
$txt-color-2:       $color-1-dark;
$txt-color-3:       $color-3-dark;

//font families
$fam--1:            'Vollkorn', serif;
$fam--2:            'Signika', sans-serif;

//internal/page anchor tags
$a-color-link:      $color-2;
$a-color-visited:   $a-color-link;
$a-color-hover:     lighten($a-color-link,20%);
$a-color-active:    lighten($a-color-link,30%);

//global nav
$g-color-link:      $color-3;
$g-color-visited:   $g-color-link;
$g-color-hover:     lighten($g-color-link,20%);
$g-color-active:    lighten($g-color-link,30%);

//local nav
$l-color-link:      $g-color-link;
$l-color-visited:   $l-color-link;
$l-color-hover:     lighten($l-color-link,20%);
$l-color-active:    lighten($l-color-link,30%);

//secondary global nav
$g-2-color-link:    $color-2;
$g-2-color-visited: $g-2-color-link;
$g-2-color-hover:   lighten($g-2-color-link,20%);
$g-2-color-active:  lighten($g-2-color-link,20%);

//secondary local nav
$l-2-color-link:    $g-color-link;
$l-2-color-visited: $l-2-color-link;
$l-2-color-hover:   lighten($l-2-color-link,20%);
$l-2-color-active:  lighten($l-2-color-link,10%);