/*------------------------------------*\
    ::Timeline Global
\*------------------------------------*/

/*------------------------------------*\
    ::Year Position Mixin
\*------------------------------------*/
// Usage:
// .el {
//     @include year(2010, 2015); // spans 2010 to 2015
//     @include year(false, 2015); // starts at 2015 with auto height
//     @include year(false, 2015.5); // starts at Jul 2, 2015 with auto height
// }
@mixin year($start-year, $end-year, $total-years: 2016) {
    $year-top: ($total-years - $end-year + 1) * $timeline-gaps + $year-word-height;
    $year-height: if($start-year, ($end-year - $start-year) * $timeline-gaps, false);
    top: $year-top;
    @if $start-year != false {
        height: $year-height;
    }
    @include bp($phone--max){
        $year-top: ($total-years - $end-year + 1) * $timeline-gaps--large + $year-word-height;
        $year-height: if($start-year, ($end-year - $start-year) * $timeline-gaps--large, false);
        top: $year-top;
        @if $start-year != false {
            height: $year-height;
        }
    }
}

/*------------------------------------*\
    ::Reusable Global Extends
\*------------------------------------*/
%year {
    text-align: center;
    height: $timeline-gaps;
    @include bp($phone--max){
        height: $timeline-gaps--large;
    }
    span {
        font-size: .75em;
    }
    &:last-child {
        height: 1.5em;
    }
    &:before,
    &:after {
        content: "";
        position: absolute;
        border: 0 solid $color-2;
        border-width: $timeline-border-width 0 0;
        width: .4em;
        height: 0;
        top: .7em;
        border-radius: 0;
    }
    &:before {
        left: 0;
    }
    &:after {
        right: 0;
    }
}
%col {
    position: relative;
    z-index: 10;
    width: 33.3% - .08;
    padding: 0 $gap;
    @include bp($tab--max){
        width: 50% - .08;
        font-size: calc(.5rem + .7vw); // milder vw font resizing
    }
    @include bp($phone--max){
        font-size: .9em;
        width: 50% - .08;
    }
}

/*------------------------------------*\
    ::Wrapper/Global Layout/Styling
\*------------------------------------*/
.timeline {
    @include clearfix;
    position: relative;
    width: 100%;
    float: left;
    &__inner {
        position: relative;
        z-index: 1;
        display: flex;
        flex-wrap: wrap;
    }
    &__year-list {
        position: relative;
        right: -$timeline-width/2;
        float: right;
        width: $timeline-width;
        border: 0 solid $color-2;
        border-width: 0 $timeline-border-width;
        margin: 0;
        padding: 0;
        @include bp($tab--max){
            right: 0;
        }
        @include bp($phone--max){
            right: -$timeline-width/2;
        }
        @include bp($phone--mid){
            right: 0;
        }
    }
    &__year {
        @extend %year;
        margin: 0;
        padding-left: 0;
    }
}
