/*------------------------------------*\
    ::Timeline Global
\*------------------------------------*/

/*------------------------------------*\
    ::Common Vars
\*------------------------------------*/
$timeline-width:            3em; // timeline bar's width
$timeline-gaps:             8em; // each year period's height
$timeline-border-width:     .1875em; // all timeline borders
$year-word-height:          .85em; // the height of the "20xx" word for centering

/*------------------------------------*\
    ::Year Position Mixin
\*------------------------------------*/
// Usage:
// .el {
//     @include year(2010, 2015); // spans 2010 to 2015
//     @include year(false, 2015); // starts at 2015 with auto height
//     @include year(false, 2015.5); // starts at Jul 2, 2015 with auto height
// }
@mixin year($start-year, $end-year, $total-years: 2016) {
    $year-top: ($total-years - $end-year + 1) * $timeline-gaps + $year-word-height;
    $year-height: if($start-year, ($end-year - $start-year) * $timeline-gaps, false);

    top: $year-top;
    @if $start-year != false {
        height: $year-height;
    }
}

/*------------------------------------*\
    ::Reusable Global Extends
\*------------------------------------*/
%year {
    text-align: center;
    height: $timeline-gaps;
    span {
        font-size: .75em;
    }
    &:last-child {
        height: 1.5em;
    }
    &:before,
    &:after {
        content: "";
        position: absolute;
        border: 0 solid $color-2;
        border-width: $timeline-border-width 0 0;
        width: .4em;
        height: 0;
        top: .7em;
        border-radius: 0;
    }
    &:before {
        left: 0;
    }
    &:after {
        right: 0;
    }
}
%col {
    position: relative;
    z-index: 10;
    width: 33.33%;
    padding: 0 $gap;
    @include bp($tab--max){
        width: 50%;
        font-size: calc(.5rem + .7vw); // milder vw font resizing
    }
    @include bp($phone--max){
        font-size: .9em;
        width: 50%;
    }
}
%col--dark {
    z-index: 10;
}
%col--light {
    z-index: 10;
    h1, h2, h3, h5, h6 {
        color: $color-1-dark;
    }
    h3 + h4 {
        margin-top: -.4em;
        margin-bottom: .4em;
    }
}


/*------------------------------------*\
    ::Wrapper/Global Layout/Styling
\*------------------------------------*/
.timeline {
    @include clearfix;
    position: relative;
    width: 100%;
    float: left;
    &__inner {
        position: relative;
        z-index: 1;
        display: flex;
        flex-wrap: wrap;
    }
    &:before,
    &:after {
       content: "";
       display: block;
       position: fixed;
       z-index: 0;
       top: 0;
       bottom: 0;
    }
    &:before { // dark overlay
display: none;
        @extend %animation--fade-in;
        left: 0;
        right: 66.66%;
        background-color: rgba($color-1-dark,.85);
        @include bp($tab--max){
            right: 50%;
        }
    }
    &:after { // light overlay
display: none;
        @extend %animation--fade-in;
        left: 33.33%;
        right: 0;
        background-color: rgba(#fff, .92);
        @include bp($tab--max){
            left: 50%;
        }
    }
}
