/*------------------------------------*\
    ::Timeline Detail (left)
\*------------------------------------*/
.detail {
    @extend %col;
    @extend %animation--fade-in;
    padding: 0;
    @include bp($phone--max){
        width: 100%;
        padding-bottom: $gap--big;
        background-image: linear-gradient(to bottom, transparent, rgba($color-1-dark, .9));
        border-bottom: .2em solid $color-2;
    }
    &__inner--fixed {
        overflow-x: hidden;
        overflow-y: auto;
        position: fixed;
        top: 0;
        bottom: 0;
        width: $row-width/3; // defined in styles.scss
        padding: 0 $gap;
        @include bp($min: $desk--min, $max: $desk--max){
            width: 33.33%;
        }
        @include bp($tab--max){
            width: 50%;
        }
        @include bp($phone--max){
            position: relative;
            width: 100%;
        }
    }
}
