/*------------------------------------*\
    ::Timeline Achieve (right/bottom)
\*------------------------------------*/
$bp-tab-and-big-phone: "only screen and (min-width: #{$tab--min}) and (max-width: #{$tab--max}), only screen and (max-width: #{$phone--mid})";
.achieve {
    @extend %col;
    @extend %animation--fade-in;
    @include text-over-light();
    @include bp($custom: $bp-tab-and-big-phone) {
        border-top: $timeline-border-width solid $color-2;
        padding: 0;
        width: 100%;
    }
    @include bp($min: $tab--min, $max: $tab--max){
        margin-left: 50%;
    }
    @include bp($phone--max){
        @include text-over-dark();
    }
    &__group {
        position: absolute;
        left: $timeline-width/2;
        right: 0;
        padding: 0 $gap 0 3em;
        transform: translateY(-50%);
        &--title {
            transform: none;
            &:before,
            &:after {
                display: none;
            }
        }
        &--zen-principle {
            @include year(false, 2016);
        }
        &--zen-lead {
            @include year(false, 2015);
        }
        &--zen-senior {
            @include year(false, 2014);
        }
        &--du-4 {
            @include year(false, 2012);
        }
        &--usmc-good-cookie {
            @include year(false, 2009);
        }
        &--usmc-commendation {
            @include year(false, 2007);
        }
        &--tech-4 {
            @include year(false, 2006);
        }
        &--tech-achievement {
            @include year(false, 2005.65);
        }
        @include bp($custom: $bp-tab-and-big-phone) {
            position: relative;
            top: 0;
            margin-bottom: $gap;
            padding: 0 $gap;
            transform: none;
            left: 0;
        }
        &:before,
        &:after { // line/circle for achieve
            content: "";
            position: absolute;
            border: $timeline-border-width solid $color-2;
            z-index: 10;
        }
        &:before { // line for achieve
            left: 0;
            width: 2em;
            top: 50%;
            border-width: $timeline-border-width 0 0;
            transform: translateY(-100%);
            @include bp($custom: $bp-tab-and-big-phone) {
                display: none;
            }
        }
        &:after { // circle for achieve
            left: -.1em;
            top: calc(50% - .1em);
            width: 1em;
            height: 1em;
            border-radius: 50%;
            background-color: $color-bg--light;
            transform: translate(-50%, -50%);
            @include bp($custom: $bp-tab-and-big-phone) {
                position: absolute;
                top: .4em;
                left: $gap;
                width: .5em;
                height: .5em;
                border: .15em solid $color-2;
                border-radius: 50%;
                transform: none;
            }
            @include bp($phone--max){
                background-color: $color-1-dark;
            }
        }
        p {
            @include bp($custom: $bp-tab-and-big-phone) {
                padding: 0 $gap;
            }
        }
    }
}
