/*------------------------------------*\
    ::Icon Slider View
\*------------------------------------*/
.icon-slider {
    &__link:hover svg,
    input:checked + label svg {
        fill: $color-1-light;
    }
    &__link {
        svg {
            transition: fill 300ms;
        }
    }
    &__slide {
        h3 {
            padding-top: $gap-em;
            text-align: center;
            margin-bottom: .5em;
        }
        ul {
            margin: 0;
        }
    }
}

