/*------------------------------------*\
    ::Icon Slider Layout
\*------------------------------------*/
$icon-slider-speed: 500ms;
.icon-slider {
    max-width: 18em;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    input {
        display: none;
    }
    &__link {
        @extend %icon--up;
        position: relative;
        float: left;
        width: 20%;
        width: 2.5em;
        height: 2.5em;
        padding: .3em;
        border-radius: 100%;
        line-height: 0;
        cursor: pointer;
        &:active {
            @extend %icon--active;
        }
        &:last-of-type {
            &:after {
                display: none;
            }
        }
        &:after {
            content: "";
            position: absolute;
            z-index: -1;
            width: 2.2em;
            top: 50%;
            left: 100%;
            border-top: $timeline-border-width solid $color-2;
        }
    }
    &__small-frame {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        font-size: 0;
    }
    &__big-frame {
        transition: transform $icon-slider-speed; // controls slide transitions
    }
    &__slide {
        width: 100%;
        display: inline-block;
        vertical-align: top;
        font-size: 1rem;
        h3 {
            white-space: normal;
            text-align: center;
            margin: .4em 0 0;
            text-align: center;
            opacity: 0;
            transform: translateY(50%);
            transition: $icon-slider-speed $icon-slider-speed*.5;
        }
    }
    &__chart {
        position: relative;
        margin: 0;
        padding: 55% 0 0;
        white-space: normal;
        @include bp($custom: "only screen and (min-height: 700px)"){
            padding-top: calc(100vh - 580px);
        }
        @include bp($custom: "only screen and (min-height: 900px)"){
            padding-top: 75%;
        }
    }
    &__stat {
        float: left;
        display: inline-block;
        position: static;
        width: 12%;
        margin: .2em 0 .7em;
        padding-left: 0;
        list-style: none;
        line-height: 1;
        font-size: 1rem;
        &:before,
        &:after { // bar/circle
            content: "";
            position: absolute;
            width: 1.3em;
        }
        &:before { // bar
            top: 0;
            bottom: 0;
            left: auto;
            width: .4em;
            height: auto;
            margin-left: 1.4em;
            background-image: linear-gradient(
                0deg,
                $color-2,
                $color-2 50%,
                $color-1-light 50%,
                $color-1-light
            );
            background-size: 100% 200%;
            background-position: 0 -200%;
            border-radius: 0;
            border: 0;
            transition: background-position 0ms $icon-slider-speed;
        }
        &:after { // circle
            z-index: 1;
            bottom: 0;
            width: 1em;
            height: 1em;
            background: $color-bg--dark;
            border: .2em solid $color-2;
            border-radius: 50%;
            transform: translate(110%, 30%);
            transition: bottom 0ms $icon-slider-speed;
        }
        @for $i from 0 through 8 { // for the &:after's in specific li's
            &:nth-child(#{$i+1}){
                &:after {
                    left: 12% * $i;
                }
            }
        }
        span {
            display: inline-block;
            white-space: nowrap;
            transform: translate(-6%, 100%) rotate(-85deg);
            transform-origin: 0.55em -0.35em;
            font-size: .9em;
            &:after {
                content: "";
                float: left;
                margin-top: 100%;
            }
        }
    }
}

// slider functionality
.icon-slider {
    // active nav
    &__link:hover,
    input:checked + label {
        @extend %icon--over;
    }
    input {
        @for $i from 1 through 4 {
            &:nth-of-type(#{$i}) {
                &:checked ~ .icon-slider__small-frame {
                    // slide transition
                    .icon-slider__big-frame {
                        transform: translate(-#{$i*100%-100});
                    }
                    .icon-slider__slide--#{$i} {
                        // title animation
                        h3 {
                            opacity: 1;
                            transform: translateY(-12%);
                        }
                        // statistic animations
                        @for $i from 1 through 9 {
                            [data-per="#{$i}0"] {
                                &:before {
                                    background-position: 0 #{$i*10% - 200%};
                                    transition: background-position $icon-slider-speed $icon-slider-speed;
                                }
                                &:after {
                                    bottom: #{$i*10%};
                                    transition: bottom $icon-slider-speed $icon-slider-speed;
                                }
                            }
                        }
                        [data-per="100"] { // come on: no one's _that_ good...
                            &:before {
                                background-position: 0 -105%;
                                transition: background-position $icon-slider-speed $icon-slider-speed;
                            }
                            &:after {
                                bottom: 92%;
                                transition: bottom $icon-slider-speed $icon-slider-speed;
                            }
                        }
                    }
                }
            }
        }
    }
}
