<!-- - - - - - - - - - - - - - - - >
    ::Achievements Column
<- - - - - - - - - - - - - - - - -->
<article class="timeline__col achieve">

    <!-- - - - - - - - - - - - - - - - >
        ::Achievements
    <- - - - - - - - - - - - - - - - -->
    <div class="achieve__group achieve__group--title">
        <h2>Achievements</h2>
    </div>

    <ul>
        <li class="achieve__group achieve__group--zen-principle">
            <!-- 2016 -->
            <p>Promoted to Principle Developer at Zenman, in charge of all development-related company activities.</p>
        </li>
        <li class="achieve__group achieve__group--zen-lead">
            <!-- 2015 -->
            <p>Promoted to Lead Developer at Zenman for demonstrating my leadership and mentoring capacity.</p>
        </li>
        <li class="achieve__group achieve__group--zen-senior">
            <!-- 2014 -->
            <p>Promoted to Senior Developer at Zenman for exhibiting advanced development skills.</p>
        </li>
        <li class="achieve__group achieve__group--du-4">
            <!-- 2012 -->
            <p>Earned a 4.0 GPA.</p>
        </li>
        <li class="achieve__group achieve__group--usmc-good-cookie">
            <!-- 2009 -->
            <p>Earned Marine Corps Good Conduct Medal for three years of honorable and faithful service.</p>
        </li>
        <li class="achieve__group achieve__group--usmc-commendation">
            <!-- 2007 -->
            <p>Earned Marine Corps Certificate of Commendation for outstanding achievement in duties.</p>
        </li>
        <li class="achieve__group achieve__group--tech-4">
            <!-- 2006 -->
            <p>Earned a 4.0 GPA.</p>
        </li>
        <li class="achieve__group achieve__group--tech-achievement">
            <!-- 2006 -->
            <p>Earned the Outstanding Achievement award in the Professional and Technical Communication Program.</p>
        </li>
    </ul>

</article> <!-- .achieve -->
