<article class="timeline__col detail">
    <div class="detail__inner--fixed">

        <h2>Objective</h2>
        <p>
            I'm an expert front-end developer specializing in custom WordPress websites since 2010. I've coded for major brands like Boppy, Frontier Airlines, and The Lumineers, and I'm very passionate about this industry!
        </p>
        <!-- portfolio note:
        This slider was fun: it's pure HTML and CSS with no JavaScript. Not
        something I'd use in production code but a fun challenge nonetheless.
        -->
        <h2>Qualifications</h2>
        <div class="icon-slider">

            <input type="radio" name="icon-slider-nav" id="slide-1" class="icon-slider__trigger" checked />
            <label for="slide-1" class="icon-slider__link">
                <svg viewbox="0 0 1000 1000">
                    <use xlink:href="images/general.sprite.svg#brain"></use>
                </svg>
            </label>

            <input type="radio" name="icon-slider-nav" id="slide-2" class="icon-slider__trigger" />
            <label for="slide-2" class="icon-slider__link">
                <svg viewbox="0 0 1000 1000">
                    <use xlink:href="images/general.sprite.svg#code"></use>
                </svg>
            </label>

            <input type="radio" name="icon-slider-nav" id="slide-3" class="icon-slider__trigger" />
            <label for="slide-3" class="icon-slider__link">
                <svg viewbox="0 0 1000 1000">
                    <use xlink:href="images/general.sprite.svg#tools"></use>
                </svg>
            </label>

            <input type="radio" name="icon-slider-nav" id="slide-4" class="icon-slider__trigger" />
            <label for="slide-4" class="icon-slider__link">
                <svg viewbox="0 0 1000 1000">
                    <use xlink:href="images/general.sprite.svg#me"></use>
                </svg>
            </label>

            <!-- portfolio note:
            Try resizing the window vertically (sorter/taller): the vh
            measurement allowed me to grow/shrink this thing pretty flexibly.
            -->
            <div class="icon-slider__small-frame">
                <div class="icon-slider__big-frame">
                    <div class="icon-slider__slide icon-slider__slide--1">

                        <h3>Capabilities</h3>
                        <ul class="icon-slider__chart">
                            <!-- portfolio note:
                            Through creative use of styling and :before and
                            :after pseudo elements inside, each bar of the
                            graph is simply represented by two HTML elements.
                            -->
                            <li class="icon-slider__stat" data-per="100">
                                <span>Front-End Development</span>
                            </li>
                            <li class="icon-slider__stat" data-per="90">
                                <span>Leadership and Mentoring</span>
                            </li>
                            <li class="icon-slider__stat" data-per="80">
                                <span>WordPress Theming</span>
                            </li>
                            <li class="icon-slider__stat" data-per="60">
                                <span>Agile Methodology</span>
                            </li>
                            <li class="icon-slider__stat" data-per="70">
                                <span>Information Architecture</span>
                            </li>
                            <li class="icon-slider__stat" data-per="60">
                                <span>Back-End Development</span>
                            </li>
                            <li class="icon-slider__stat" data-per="50">
                                <span>Usability Testing</span>
                            </li>
                            <li class="icon-slider__stat" data-per="40">
                                <span>Graphics Design</span>
                            </li>
                        </ul>

                    </div>
                    <div class="icon-slider__slide icon-slider__slide--2">

                        <h3>Technologies</h3>
                        <ul class="icon-slider__chart">
                            <li class="icon-slider__stat" data-per="100">
                                <span>Semantic HTML</span>
                            </li>
                            <li class="icon-slider__stat" data-per="100">
                                <span>CSS and SCSS</span>
                            </li>
                            <li class="icon-slider__stat" data-per="90">
                                <span>JavaScript, jQuery, and Ajax</span>
                            </li>
                            <li class="icon-slider__stat" data-per="80">
                                <span>WordPress Codex</span>
                            </li>
                            <li class="icon-slider__stat" data-per="60">
                                <span>Git Version Control</span>
                            </li>
                            <li class="icon-slider__stat" data-per="60">
                                <span>PHP/MySQL Back-End</span>
                            </li>
                            <li class="icon-slider__stat" data-per="70">
                                <span>Gulp/Grunt Build Tools</span>
                            </li>
                            <li class="icon-slider__stat" data-per="40">
                                <span>Bash Unix Shell</span>
                            </li>
                        </ul>

                    </div>
                    <div class="icon-slider__slide icon-slider__slide--3">

                        <h3>Software</h3>
                        <ul class="icon-slider__chart">
                            <li class="icon-slider__stat" data-per="100">
                                <span>Sublime Text</span>
                            </li>
                            <li class="icon-slider__stat" data-per="70">
                                <span>Chrome DevTools</span>
                            </li>
                            <li class="icon-slider__stat" data-per="50">
                                <span>iTerm2 Console</span>
                            </li>
                            <li class="icon-slider__stat" data-per="70">
                                <span>GitHub and GitLab</span>
                            </li>
                            <li class="icon-slider__stat" data-per="70">
                                <span>MAMP Pro</span>
                            </li>
                            <li class="icon-slider__stat" data-per="50">
                                <span>VirtualBox/Vagrant</span>
                            </li>
                            <li class="icon-slider__stat" data-per="40">
                                <span>Photoshop</span>
                            </li>
                            <li class="icon-slider__stat" data-per="30">
                                <span>Illustrator and Sketch</span>
                            </li>
                        </ul>

                    </div>
                    <div class="icon-slider__slide icon-slider__slide--4">

                        <h3>Character</h3>
                        <ul class="icon-slider__chart">
                            <li class="icon-slider__stat" data-per="100">
                                <span>Hard Worker</span>
                            </li>
                            <li class="icon-slider__stat" data-per="90">
                                <span>Well Organized</span>
                            </li>
                            <li class="icon-slider__stat" data-per="80">
                                <span>Great Communicator</span>
                            </li>
                            <li class="icon-slider__stat" data-per="80">
                                <span>Effective Leader</span>
                            </li>
                            <li class="icon-slider__stat" data-per="80">
                                <span>Team Player</span>
                            </li>
                            <li class="icon-slider__stat" data-per="100">
                                <span>Strong Ethics</span>
                            </li>
                            <li class="icon-slider__stat" data-per="90">
                                <span>Quick Learner</span>
                            </li>
                            <li class="icon-slider__stat" data-per="80">
                                <span>Constantly Improving</span>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <div class="contact-links">

            <div class="contact-links__title">
                <h2>Contact</h2>
            </div>

            <label for="popup--email" class="contact-links__group">
                <span class="contact-links__icon">
                    <svg viewbox="0 0 1000 1000">
                        <use xlink:href="images/general.sprite.svg#mail"></use>
                    </svg>
                </span>
                <h3>Email</h3>
                <span class="print-version print-version--email"></span>
            </label>

            <a href="https://github.com/tcmulder" target="_blank" class="contact-links__group">
                <span class="contact-links__icon">
                    <svg viewbox="0 0 1000 1000">
                        <use xlink:href="images/general.sprite.svg#github"></use>
                    </svg>
                </span>
                <h3>GitHub</h3>
                <span class="print-version">https://github.com/tcmulder</span>
            </a>

            <a href="http://codepen.io/tcmulder/" target="_blank" class="contact-links__group">
                <span class="contact-links__icon">
                    <svg viewbox="0 0 1000 1000">
                        <use xlink:href="images/general.sprite.svg#codepen"></use>
                    </svg>
                </span>
                <h3>CodePen</h3>
                <span class="print-version">http://codepen.io/tcmulder/</span>
            </a>

            <a href="https://twitter.com/tcmulder" target="_blank" class="contact-links__group">
                <span class="contact-links__icon">
                    <svg viewbox="0 0 1000 1000">
                        <use xlink:href="images/general.sprite.svg#twitter"></use>
                    </svg>
                </span>
                <h3>Twitter</h3>
                <span class="print-version">https://twitter.com/tcmulder</span>
            </a>

        </div>

    </div>
</article>