<article class="timeline__col exp">

    <div class="exp__group exp__group--title">
        <h2>Experience</h2>
    </div>

    <div class="exp__group exp__group--hire">
        {% comment %} 2017-Present {% endcomment %}
        <h3>Now Available for Hire!</h3>
        <h4>Front-End Engineer</h4>
        <p>I'm currently looking for the next level-up in my career and couldn't be more excited! In the meantime I'm teaching myself React/Redux and the new WordPress REST API. If you know someone looking for an extraordinary (and humble) developer to enhance their team, please <a href="javascript:void(0);"><label for="popup--email">email me about jobs</label></a>.</p>
    </div>

    <div class="exp__group exp__group--zenman">
        {% comment %} 2012-2016 {% endcomment %}
        <h3>Zenman Productions</h3>
        <h4>Front-End Developer</h4>
        <ul>
            <li>The majority of my technical work involved hand-coding custom WordPress themes.</li>
            <li>I crafted development processes and mentored my development team to maximize Zenman's level of quality.</li>
            <li>I developed an essentials-only theme used as the basis for all Zenman's WordPress websites.</li>
            <li>I installed and customized plugins like Advanced Custom Fields, BuddyPress, and WooCommerce.</li>
            <li>We had no DevOps, so I filled in, creating build scripts, git webhooks, deployment scripts, and bash helper scripts.</li>
            <li>I developed various front-end deliverables in systems like Shopify, HubSpot,  and Fishbowl.</li>
            <li>I spoke at <a href="https://generalassemb.ly/" target="_blank">General Assembly</a> events and taught a paid, full-day JavaScript fundamentals workshop.</li>
        </ul>
    </div>

    <div class="exp__group exp__group--du">
        {% comment %} 2011-2012 {% endcomment %}
        <h3>University of Denver</h3>
        <h4>Graduate Student</h4>
        <ul>
            <li>I received a Master of Applied Science degree in Web Design and Development (ICT program).</li>
            <li>I focused on learning development process and more JavaScript.</li>
        </ul>
        <h4>Freelance Web Designer—tcmulder.com</h4>
        <ul>
            <li>I developed WordPress websites from templates (yuck!) and from scratch.</li>
        </ul>
    </div>

    <div class="exp__group exp__group--usmc">
        {% comment %} 2006-2010 {% endcomment %}
        <h3>1st LAR United States Marine Corps</h3>
        <h4>Infantry Scout</h4>
        <ul>
            <li>I volunteered to handle most of the computer technology communication needs for an entire platoon as their Chief Dispatcher.</li>
            <li>I instructed hundreds of Marines through Indoor Simulated Marksmanship Trainer computer technologies.</li>
            <li>My poor Macbook Pro survived two deployments to the sands of Iraq so I could keep up on my tech skills during infrequent downtime back at the base.</li>
            <li>I was placed in a Light Armored Reconnaissance amphibious battalion for being a dogged swimmer (not certain how this fact translates into web development&mdash;persistence?).</li>
        </ul>
    </div>

    <div class="exp__group exp__group--tech">
        {% comment %} 2002-2006 {% endcomment %}
        <h3>Montana Tech of The University of Montana</h3>
        <h4>Undergraduate Student</h4>
        <ul>
            <li>I received a Bachelor of Science degree in Professional and Technical Communication (PTC program).</li>
            <li>Mostly I focused on HTML, CSS, jQuery, and ActionScript languages, along with Adobe design software.</li>
        </ul>
        {% comment %} 2004-2006 {% endcomment %}
        <h4>Teachers Aide—PTC Department</h4>
        <ul>
            <li>I assisted students as a teacher's aide in four web design courses, most of which I was taking for the first time myself.</li>
        </ul>
        {% comment %} 2002-2006 {% endcomment %}
        <h4>Freelance Visual Designer—t-Creative</h4>
        <ul>
            <li>I was paid to create a brochure, media CD, and two websites for the PTC Department at Montana Tech.</li>
        </ul>
    </div>

    <ul class="timeline__year-list">
        {% comment %} in emmet... .timeline__year{20$$@-}*17 {% endcomment %}
        <li class="timeline__year"><span>today</span></li>
        <li class="timeline__year"><span>2017</span></li>
        <li class="timeline__year"><span>2016</span></li>
        <li class="timeline__year"><span>2015</span></li>
        <li class="timeline__year"><span>2014</span></li>
        <li class="timeline__year"><span>2013</span></li>
        <li class="timeline__year"><span>2012</span></li>
        <li class="timeline__year"><span>2011</span></li>
        <li class="timeline__year"><span>2010</span></li>
        <li class="timeline__year"><span>2009</span></li>
        <li class="timeline__year"><span>2008</span></li>
        <li class="timeline__year"><span>2007</span></li>
        <li class="timeline__year"><span>2006</span></li>
        <li class="timeline__year"><span>2005</span></li>
        <li class="timeline__year"><span>2004</span></li>
        <li class="timeline__year"><span>2003</span></li>
        <li class="timeline__year"><span>2002</span></li>
    </ul>

</article>