/*------------------------------------*\
    ::Icon Slider Layout
\*------------------------------------*/
.icon-slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    input {
        display: none;
        @for $i from 1 through 4 {
            &:nth-of-type(#{$i}) {
                &:checked ~ .icon-slider__small-frame .icon-slider__big-frame {
                    bookmark: translate(-#{$i*100%});
                    transform: translate(-#{$i*100%-100});
                }
            }
        }
    }
    &__link {
        float: left;
        width: 20%;
        cursor: pointer;
        svg {
            width: 100%;
        }
    }
    &__small-frame {
        width: 100%;
        overflow-x: hidden;
        white-space: nowrap;
        font-size: 0;
    }
    &__big-frame {
        transition: transform 1300ms;
    }
    &__slide {
        width: 100%;
        display: inline-block;
        font-size: 1rem;
        vertical-align: top;
        h3, ul {
            white-space: normal;
        }
    }
}
