/*------------------------------------*\
    ::Torso
\*------------------------------------*/
 // /*DEBUG*/ $solarsystem: 1px;.main-torso {transform: scale(.9);}
.main-torso {
    @include clearfix;
    position: relative;
}
.main-torso__col {
    float: left;
    width: 33.33%;
    padding: 0 $gap;
    @include bp($solarsystem){
        width: 50%;
    }
    @include bp($planetary){
        width: 100%;
    }
}
