/*------------------------------------*\
    ::Popup Module
\*------------------------------------*/
.popup {
    &__frame {
        overflow: hidden;
        position: fixed;
        z-index: 100; // above everything
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 0;
        padding: 0;
        background-color: rgba($color-2,.8);
        transition: opacity 300ms, padding 0ms 301ms, height 0ms 301ms;
        font-size: 1rem; // parent has 0 to remove inline-block spacing
        opacity: 0;
    }
    &__inner {
        position: relative;
        max-width: 40em;
        padding: 3em $gap $gap;
        background-color: #fff;
        border-radius: .5em;
        &:before { // offset border
            content: "";
            display: block;
            position: absolute;
            top: -.5em;
            left: -.5em;
            right: -.5em;
            bottom: -.5em;
            border: $timeline-border-width solid rgba($color-1-dark, .2);
            border-radius: 1em;
            z-index: -1;
        }
    }
    &__close {
        position: absolute;
        top: $gap;
        right: $gap;
        font-family: $fam--2;
        cursor: pointer;
        transition: color 300ms;
        &:hover {
            color: $color-1;
        }
    }
}

/*  portfolio note:
    It's really non-semantic and I'd never use it in a client's production
    site, but by using form controls you can activate a popup (which has its
    HTML in the footer) from any place on the page just using :checked. For
    example, click on "email me about jobs" at the top of the page or the
    Email link and icon in the Contact section and both'll bring up the same
    popup.
*/
// popup activation functionality
.popup {
    &__trigger {
        &:checked {
            & + .popup__frame {
                overflow: auto;
                height: 100%;
                padding: 7% $gap $gap;
                opacity: 1;
                transition: opacity 300ms, padding 0ms, height 0ms;
                .popup__inner {
                    position: relative;
                }
            }
        }
    }
}