/*------------------------------------*\
    ::Back Home Link
\*------------------------------------*/
.basic-col {
    &__dark {
        float: left;
        width: 33.33%;
        padding: $gap;
        width: $row-width/3; // defined in styles.scss
        @include bp($min: $desk--min, $max: $desk--max){
            width: 33.33%;
        }
        @include bp($tab--max){
            width: 50%;
        }
        @include bp($phone--max){
            position: relative;
            width: 100%;
        }
        &--fixed {
            position: fixed;
            overflow: auto;
            top: 0;
            bottom: 0;
            @include bp($phone--max){
                position: relative;
            }
            & + .basic-col__light {
                margin-left: 33.33%;
                @include bp($tab--max){
                    margin-left: 50%;
                }
                @include bp($phone--max){
                    margin-left: 0;
                }
            }
        }
    }
    &__light {
        float: left;
        width: 66.66%;
        padding: $gap;
        &--narrow {
            width: 33.33%;
        }
        @include bp($min: $tab--min){
            @include text-over-light();
        }
        @include bp($tab--max){
            width: 50%;
        }
        @include bp($phone--max){
            width: 100%;
        }
    }
    &__back-home {
        position: relative;
        display: inline-block;
        font-family: $fam--2;
        padding: 1em .5em 1em 3em;
        /*  portfolio note:
            In Sublime this //&, / * DEBUG * / lets me easily toggle on/off
            something that usually is only active hon some sort of user
            interaction or page state using command+/ on my keyboard. The
            [class] here was just needed to bump up the specificity a smidgen.
        */
        // &[class], /* DEBUG */
        &:hover {
            span {
                @extend %icon--over;
                position: absolute;
                display: block;
                left: 0;
                width: 2.5em;
                height: 2.5em;
                border-radius: 50%;
                transform: translateY(-50%);
                &:before { // house roof
                    left: .5em;
                    background-color: darken($color-1-dark, 5%);
                    border-color: $color-1-light;
                    transform: rotate(45deg) translate(-.4em, -.5em);
                    transition: all 200ms, background-color 200ms 250ms;
                }
                &:after { // house frame
                    height: .6em;
                    background-color: darken($color-1-dark, 5%);
                    border-color: darken($color-1-light, 12%);
                    transition: all 200ms, height 200ms 200ms, border 200ms 200ms;
                    transform: translate(.5em, 0) rotate(0);
                }
            }
        }
        span {
            @extend %icon--up;
            position: absolute;
            display: block;
            left: 0;
            width: 2.5em;
            height: 2.5em;
            border-radius: 50%;
            transform: translateY(-50%);
            &,
            &:before,
            &:after {
                position: absolute;
                top: 50%;
                display: block;
            }
            &:before,
            &:after {
                content: "";
                width: 1em;
                height: 1em;
            }
            &:before { // house roof
                content: "";
                left: .5em;
                border: 0 solid $color-2;
                border-width: .2em 0 0 .2em;
                transform: rotate(-45deg) translate(0.5em, -0.2em);
                transition: all 200ms, background-color 150ms;
            }
            &:after { // house frame
                background-color: transparent;
                height: 0em;
                width: 1.1em;
                border: 0 solid transparent;
                border-width: 0 1px 1px;
                transform: translate(.5em, 0) rotate(-45deg);
                transition: all 200ms, height 0ms 200ms;
                z-index: -1;
            }
        }
    }
}