/*------------------------------------*\
    ::Main Footer
\*------------------------------------*/
.main-foot {
    position: relative;
    z-index: 10;
    float: left;
    width: 100%;
    &__text {
        float: right;
        width: 66.66%;
        height: $footer-height;
        padding: .2em $gap 0;
        font-style: italic;
        border-top: 1px solid lighten($color-2, 65%);
        color: desaturate(lighten($color-1, 35%), 35%);
        @include bp($tab--max){
            width: 50% - .08;
            font-size: calc(.5rem + .7vw); // milder vw font resizing
        }
        @include bp($phone--max){
            font-size: .9em;
            width: 100%;
            border-top-color: darken($color-1-light, 10%);
        }
    }
    &__link {
        color: desaturate(lighten($color-1, 35%), 35%);
        &:hover {
            color: $color-2;
        }
    }
    &__copy {
        float: right;
    }
}