/*------------------------------------*\
    ::Timeline Global
\*------------------------------------*/
.timeline {
    @include clearfix;
    position: relative;
    width: 100%;
    float: left;
    &__inner {
        position: relative;
        z-index: 1;
        display: flex;
        flex-wrap: wrap;
    }
    &__year-list {
        position: relative;
        right: -$timeline-width/2;
        float: right;
        width: $timeline-width;
        border: 0 solid $color-2;
        border-width: 0 $timeline-border-width;
        margin: 0;
        padding: 0;
        /*  portfolio note:
            Notice media queries come within the selector at the end. This
            ensures everything's grouped together: if I'm working on
            .timeline__year-list, it's all in just one set of curly braces. If
            I need to move or even remove .timeline__year-list, then I only
            need to worry about everything inside that one set of curly braces
            and not dig around the surrounding code or within other files.
        */
        @include bp($tab--max){
            right: 0;
        }
        @include bp($phone--max){
            right: -$timeline-width/2;
        }
        @include bp($phone--mid){
            right: 0;
        }
    }
    &__year {
        @extend %year;
        margin: 0;
        padding-left: 0;
    }
}
